/* Font */


:root {
    /* Backgrounds & Borders */
    --background: #ffffff;       
    --borders: #dfe0e4;          

    /* Primary Colors */
    --primary-color: #ffbf00;    
    --secondary-color: #1668e3;  

    /* Font Colors */
    --primary-font-color: #191e3b;  
    --secondary-font-color: #ffffff;

    /* Navigation */
    --nav-bar-color: #191e3b;  

}


body {
    width:100%;
    height:100%;
    font-family: "Geologica", sans-serif;
    padding-bottom: 5rem;
}


h1{
    font-size: 1.728rem;
    font-weight: 700;
}
h2{
    font-size:1.25rem;
}
h3{
    font-size:1rem;
}


span, p{
    font-size: 0.85rem;
}
a{
    text-decoration: none;
    color:inherit;
}

section:not(.hero-section), footer{
    margin:1rem;
}

/* Hide Scroll bar */
body::-webkit-scrollbar {
    display: none;
}


