/*country-project/styles/base.css */
:root {
    /* Backgrounds & Borders */
    --background: #ffffff;       
    --borders: #dfe0e4;          

    /* Primary Colors */
    --primary-color: #fddb32;    
    --secondary-color: #304ca2;  

    /* Font Colors */
    --primary-font-color: #191e3b;  
    --secondary-font-color: #ffffff;

    /* Navigation */
    --nav-bar-color: #191e3b;  

}


body {
    width:100%;
    height:100%;
    font-family: "Geologica", sans-serif;
    padding-bottom: 6rem;
    line-height: 1.5;
}

section{
    border-bottom: .5px solid var(--primary-font-color)

}
h1{
    font-size: 1.728rem;
    font-weight: 700;
}
h2{
    font-size:1.5rem;
    margin:0;

}
h3{
    font-size:1.25rem;
}


p{
    font-size: .80rem;
}
a{
    text-decoration: none;
    color:inherit;
    font-size: 1rem;
}

section:not(.hero-section), footer{
    margin:1.5rem 1rem;
}

/* Hide Scroll bar */
body::-webkit-scrollbar {
    display: none;
}



.button{
    padding:.5rem 1rem;
    background-color: var(--primary-color);
    color: var(--primary-font-color);
    margin:.5rem;
    border-radius: .5rem;
    cursor: pointer;
    text-align: center;
    width: 100%;
    max-width: 10rem;
}

/* Icons */
.main-nav .nav-link img,
.social-links img,
.icon{
    width: 1.5rem; 
    height: 1.5rem; 
    margin-bottom: .25rem; 
}

.hero-content img,
.video-hero-section img {
    width: 1rem; 
    height: 1rem; 
}
/*=======================HEADER-START=======================*/

.main-header {
    padding:.5rem ;
    position:sticky;
    top:0;
    z-index: 100;
    background-color: var(--background);
    left:0;
    right:0;


}

.main-header h1{
    display: flex;
    margin:0;
    align-items: center;

    color:var(--primary-font-color)
}

.main-header img {
    width: 3.5rem; 
    height: 3.5rem; 
    border-radius: 50%;
}

/*-----------Navigation-Bar-----------*/

.nav-container {

    display: flex;
    justify-content: space-around;
    padding: 1rem 1.5rem;
    position:fixed;
    bottom:1rem;
    left:0;
    right:0;
    width:95%;
    border-radius: 5rem;
    margin:0 auto;
    /* From https://css.glass */
    background: rgba(0, 0, 0, 0.267);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.603);
    backdrop-filter: blur(11.2px);
    -webkit-backdrop-filter: blur(11.2px);

}

.nav-link {
    color: var(--secondary-font-color);
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:1rem;
    font-weight: 400;
    font-style: normal;
}


/* Active Link Styles */
.nav-link.active {
    background-color: var(--primary-color); 
    border-radius: 5rem;  
    color: var(--primary-font-color);
    font-weight:700;
}
.nav-link .icon-active {
    display: none;
}
.nav-link .icon-inactive {
    display: block;
}
.nav-link.active .icon-inactive {
    display: none;
}
.nav-link.active .icon-active {
    display: block;
}

@media (min-width:50em){
    body{
        padding-bottom: 0;
    }
    .nav-container{
        bottom:auto;
        top:6.5rem;
        width:600px;
        margin: 0 auto;
    }
}

/*=======================HEADER-END=======================*/
/*=======================MAIN-START=======================*/

/*
Main pages styles
These are the styles for Main pages
- Home page
- Culture page
- Destination page
- About page
*/
.main-container {
    max-width: 1080px;
    margin: 0 auto; 
}
/*-----------Hero Section-----------*/
.hero-slider-container {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.hero-slider {
    display: flex;
    width: 400%; 
    transition: transform 1s ease-in-out; 
}

.hero-section{
    width: 100%; 
    height: 40vw;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: end;
    justify-content: center;
    color: white;
    text-align: center;
    gap:.5rem;
    position: relative;
    overflow: hidden; 
    z-index: 1;
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    height: 100%;
    width: 100%;
    gap:.25rem;
    padding-bottom: 1rem;
    text-align: left;
    position: relative;
    z-index: 1;

background: #001f63;
background: linear-gradient(90deg, rgba(0, 31, 99, 0.42) 0%, rgba(0, 50, 160, 0) 56%);


}
.hero-content h2,
.hero-content p,
.hero-section a{
    margin: 0 2rem;
}
.hero-content h2,
.video-hero-content h2{
    font-size: 2rem;
}

/* Desktop Font sizes*/
@media (min-width:50em){


    .food-grid{
        grid-template-columns: 1fr 1fr;
    }

    /* Desktop Font sizes*/
    h2{
        font-size:2.5rem;
        padding: 2.5rem 0 1rem 0;
    }

    .video-hero-content h2,
    .hero-content h2{
        padding: 0;
    }

    p{
        font-size: 1rem;
    }
    .hero-content h2,
    .video-hero-content h2{
        font-size: 5rem;
    }

    .hero-content p{
        font-size: 3rem;
    }

    .hero-content a, .video-hero-content a{
        font-size: 2rem;
    }



}
.hero-content a, .video-hero-content a{
    display: flex;
    align-items: center;
    gap:.25rem;
    position: relative;
    z-index: 1;
}


/*
Individual info pages styles
These are the styles for Individual page
- Places pages
- Culture pages
- foods pages
*/
/* Main container for the video hero */
.video-hero-section {
    position: relative;
    height: 45vw;
    width: 100%;

}

/* Positions the video as a background layer */
.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
}

/* Positions the text content as a foreground layer */
.video-hero-content {
    position: relative;
    z-index: 2; /* Higher z-index to ensure it's on top */
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    color: white;
    padding:2rem;
}

.video-hero-content a {
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-bottom: .5rem;
}

.video-hero-content h2 {
    margin: 0;
    padding: 0;
    text-align: left;
}



.section-title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    padding: 0;
}

.info-card {
    background-color: var(--background);
    border: 1px solid var(--borders);
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}

.info-header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
    padding:.5rem 0
}

.info-header .icon {
    width: 1.5rem;
    height: 1.5rem;
}

.info-header h2{
    padding:0;
}
.info-header h3 {
    margin: 0;
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--primary-font-color);
}

.info-card p {
    margin: 0;
    line-height: 1.5;
}

/* Photo Grid Styles */

.photos-grid {
    display: flex;
    overflow-x: auto; 
    gap: 0.5rem;
    padding-bottom: 1rem; 
}

.photos-grid::-webkit-scrollbar {
    height: 8px; 
}

.photos-grid::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 10px;
}

.photos-grid::-webkit-scrollbar-thumb {
    background: var(--borders);
    border-radius: 10px;
}

.photos-grid::-webkit-scrollbar-thumb:hover {
    background:  var(--primary-color);; 
}

.photo-item {
    flex: 0 0 90%; 
    aspect-ratio: 4 / 3; 
    border-radius: 1rem;
    overflow: hidden;
}

.photo-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section{
    border: none;
}

.back-button{
    padding: 1rem 1.5rem;

    position:fixed;
    top:4.75rem;
    font-size: .75rem;
    font-weight: 500;
    color:var(--primary-font-color);
    border-radius: 5rem;
    background: var(--primary-color);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.603);
}
@media(min-width:50em){
    .back-button{
        top:7rem;
        left:1rem;
        color:var(--primary-font-color);
        padding:2rem;
        /* From https://css.glass */
        background: #fddb32;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.603);
        backdrop-filter: blur(11.2px);
        -webkit-backdrop-filter: blur(11.2px);
    }
}

/*=======================MAIN-END=======================*/
/*=======================FOOTER-END=======================*/
.main-footer{
    padding:1rem 0;
    margin:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid var(--primary-font-color);
}
/*=======================FOOTER-END=======================*/



/* Section grid styles*/
.two-col-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .5rem;
    padding: .5rem 0;
}

.one-col-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: .5rem;
    padding: .5rem 0;
}

/* Card container styles */
.vertical-card{
    border:2px solid var(--borders);
    border-radius: .5rem;
    overflow: hidden;
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    height:auto;
}

.vertical-card img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}

@media (min-width:50em){
    .vertical-card img{
        
        height: 500px;
    }
}


.horizontal-card {
    border: 2px solid var(--borders);
    border-radius: .5rem;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    height: auto;     
}

.horizontal-card img {
    width: 40%;
    height: 100%;      
    object-fit: cover;  
}

.horizontal-card h3,
.vertical-card h3{
    margin:0;
    padding:.5rem 0 0 .5rem;

}

.horizontal-card p,
.vertical-card p{
    margin:0;
    padding:.5rem;
}
/* Card's h3,description, tags and button */
.group {
    display: flex;
    flex-direction: column;
    padding: .75rem 1rem 2rem 1rem;
    gap:.5rem;
    flex-grow: 1;
}

.group .button {
    margin-top: auto;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}
/*-----------Filter Buttons-----------*/
.filter-tags {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    margin:.75rem 0;
}

.filter-btn {
    padding: .5rem 1rem;
    border-radius: 5rem;
    background-color: transparent;
    border: 1px solid var(--borders);
    color: var(--primary-font-color);
    font-family: inherit;
    cursor: pointer;
    transition: background-color 0.2s ease, color 0.2s ease;
    font-size:.75rem;
}

.filter-btn.active {
    background-color: var(--secondary-color);
    color: var(--secondary-font-color);
    border-color: var(--secondary-color);
}
/*-----------Card Tags-----------*/
.card-tags {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    padding: 0 .5rem;
    margin: 1rem 0;
}

.tag {
    background-color: #22784f;
    color: var(--secondary-font-color);
    padding: .25rem .75rem;
    border-radius: 5rem;
    font-size: .85rem;
    font-weight: 100;
}


/*=======================TIMELINE-STYLES=======================*/

.timeline-item {
    padding: 2.5em 2em 2em;
    margin-left:2rem;
    position: relative;
    color: var(--primary-font-color);
    border-left: 2px solid var(--borders);
}

.timeline-item::before {
    content: attr(date-is);
    position: absolute;
    left: 2em;
    top: 1em;
    display: block;
    font-weight: 700;
    font-size: .85rem;
    color: var(--secondary-color); 
}

.timeline-item::after {
    content: '';
    width: 12px;
    height: 12px;
    display: block;
    top: 1em;
    position: absolute;
    left: -8px;
    border-radius: 50%;
    border: 2px solid var(--secondary-color);
    background: var(--background);
}


.timeline-item:last-child {
    border-image: linear-gradient(
        to bottom,
        var(--borders) 60%,
        transparent
    ) 1 100%;
}

.timeline-item h4 {
    margin: 0 0 .5rem 0;
}
/* Scrollable */
.timeline-container {
    max-height: 500px; 
    overflow-y: auto; 
}