/*country-project/styles/base.css */

:root {
    /* Backgrounds & Borders */
    --background: #ffffff;       
    --borders: #dfe0e4;          

    /* Primary Colors */
    --primary-color: #ffbf00;    
    --secondary-color: #1668e3;  

    /* Font Colors */
    --primary-font-color: #191e3b;  
    --secondary-font-color: #ffffff;

    /* Navigation */
    --nav-bar-color: #191e3b;  

}


body {
    width:100%;
    height:100%;
    font-family: "Geologica", sans-serif;
    padding-bottom: 6rem;
}


h1{
    font-size: 1.728rem;
    font-weight: 700;
}
h2{
    font-size:1.25rem;
    margin:0;
}
h3{
    font-size:1rem;
}


p{
    font-size: 0.85rem;
}
a{
    text-decoration: none;
    color:inherit;
}

section:not(.hero-section), footer{
    margin:1.5rem 1rem;
}

/* Hide Scroll bar */
body::-webkit-scrollbar {
    display: none;
}

.button{
    padding:.5rem 1rem;
    background-color: var(--primary-color);
    color: var(--primary-font-color);
    margin:.5rem;
    border-radius: .5rem;
    cursor: pointer;
    text-align: center;
    max-width:12rem;
    
}

/* Icons */
.main-nav .nav-link img,
.social-links img {
    width: 1.5rem; 
    height: 1.5rem; 
    margin-bottom: .25rem; 
}

.hero-content img {
    width: 1rem; 
    height: 1rem; 
}
/*=======================HEADER-START=======================*/

.main-header {
    padding:.5rem ;
    position:sticky;
    top:0;
    z-index: 100;
    background-color: var(--background);
    left:0;
    right:0;


}

.main-header h1{
    display: flex;
    margin:0;
    align-items: center;
    font-size: 1.25rem;
    color:var(--primary-font-color)
}

.main-header img {
    width: 3.5rem; 
    height: 3.5rem; 
    border-radius: 50%;
}

/*-----------Navigation-Bar-----------*/

.nav-container {

    display: flex;
    justify-content: space-around;
    padding: 1rem 1.5rem;
    margin:0;
    position:fixed;
    bottom:1rem;
    left:0;
    right:0;
    width:95%;
    border-radius: 5rem;
    margin:0 auto;
    /* From https://css.glass */
    background: rgba(0, 0, 0, 0.267);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.603);
    backdrop-filter: blur(11.2px);
    -webkit-backdrop-filter: blur(11.2px);

}

.nav-link {
    color: var(--secondary-font-color);
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:1rem;
    font-weight: 400;
    font-style: normal;
}


/* Active Link Styles */
.nav-link.active {
    background-color: var(--primary-color); 
    border-radius: 5rem;  
    color: var(--primary-font-color);
    font-weight:700;
}
.nav-link .icon-active {
    display: none;
}
.nav-link .icon-inactive {
    display: block;
}
.nav-link.active .icon-inactive {
    display: none;
}
.nav-link.active .icon-active {
    display: block;
}

@media (min-width:50em){
    .nav-container{
        bottom:auto;
        top:6.5rem;
        width:600px;
        margin: 0 auto;
    }
}
/*=======================HEADER-END=======================*/
/*=======================MAIN-START=======================*/
.main-container {
    max-width: 1080px;
    margin: 0 auto; 
}
/*-----------Hero Section-----------*/
.hero-slider-container {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.hero-slider {
    display: flex;
    width: 400%; 
    transition: transform 1s ease-in-out; 
}

.hero-section {
    width: 100%; 
    height: 40vw;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: end;
    justify-content: center;
    color: white;
    text-align: center;
    gap:.5rem;

    position: relative;
    overflow: hidden; 
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background: #FFFFFF;
     background: linear-gradient(90deg,rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.32) 8%, rgba(0, 0, 0, 0.35) 21%, rgba(0, 0, 0, 0) 84%);
    height: 100%;
    width: 100%;
    gap:.25rem;
    padding-bottom: 1rem;
    text-align: left;
    position: relative;
    z-index: 1;

    max-width: 1080px;
    backdrop-filter: blur(2px);
  mask-image: linear-gradient(
    to right,
    black 80%,
    transparent  )       
}
.hero-content h2,
.hero-content p,
.hero-section a {
    margin: 0 1rem;

}

.hero-content h2 {
    font-size: 5vw;
    font-weight: 700;
}
.hero-content p{
    font-size: 3vw;
}
.hero-content a{
    display: flex;
    align-items: center;
    gap:.25rem;
    position: relative;
    z-index: 1;
}

.hero-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    object-fit: cover; 
}


/*=======================MAIN-END=======================*/
/*=======================FOOTER-END=======================*/
.main-footer{
    padding:1rem 0;
    margin:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-top: 1px solid var(--primary-font-color);
}
/*=======================FOOTER-END=======================*/

