/*country-project/styles/destination.css */

.destination-card{
    border: 2px solid var(--borders);
    border-radius: .5rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 150px;   
    width: 100%;  
}


.destination-card h3{
    margin:0;
    padding:.5rem 0 0 .5rem;
    font-weight: 500;
}

.destination-card p{
    margin:0;
    padding:.5rem;
}
.destinations-grid {
    display:flex;
    flex-direction: column;
    gap: .5rem;
    padding: .5rem 0;
}

.destination-container{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.destination-card img {
    width: 40%;
    height:100%;
    object-fit: cover;  
}
