/* styles/home.css */
@import url("base.css");

/*=======================MAIN=======================*/

/* Hero Section Styles */
.hero-slider-container {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.hero-slider {
    display: flex;
    width: 400%; 
    transition: transform 1s ease-in-out; 
}

.hero-section {
    width: 100%; 
    height: 200px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: end;
    justify-content: center;
    color: white;
    text-align: center;
    gap:.5rem;
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    background: #FFFFFF;
    background: linear-gradient(280deg, rgba(255, 255, 255, 0) 20%, rgba(25, 30, 59, 0.74) 100%);
    height: 100%;
    width: 100%;
    gap:.5rem;
    padding-bottom: 1rem;
    text-align: left;

}
.hero-content h2, .hero-content p {
    margin: 0 1rem;

}

.hero-content h2 {
    font-size: 2rem;
    font-weight: 700;
}

/*Popular Destinations Section*/
/* Culture and History */
.destinations-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .5rem;
    padding: .5rem 0;
}

.destination-card,
.culture-card {
    border:2px solid var(--borders);
    border-radius: .5rem;
    overflow: hidden;
    display: flex; 
    flex-direction: column;
}

.destination-card img,
.culture-card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.destination-card h3,
.culture-card h3,
.food-item h3{
    margin:0;
    padding:.5rem 0 0 .5rem;
    font-weight: 500;
}

.destination-card p,
.culture-card p,
.food-item p{
    margin:0;
    padding:.5rem;
}

/* Culture and History */
.culture-history-grid {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: .5rem;
    padding: .5rem 0;
}

/* Foods */
.food-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: .5rem;
    padding: .5rem 0;
}

.food-item {
    border: 2px solid var(--borders);
    border-radius: .5rem;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100px;     
}

.food-item img {
    width: 40%;
    height: 100%;      
    object-fit: cover;  
}


.food-item-text {
    padding: 0 1rem;
}




