/*country-project/styles/home.css */
@import url("base.css");

/*=======================MAIN=======================*/


@media (min-width:50em){
    .culture-card img{
        height: 500px;
    }
    .food-grid{
        grid-template-columns: 1fr 1fr;
    }
}







