/*country-project/styles/home.css */
@import url("base.css");

/*=======================MAIN=======================*/

/*Popular Destinations Section*/
/* Culture and History */
.destinations-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .5rem;
    padding: .5rem 0;
}

.destination-card,
.culture-card {
    border:2px solid var(--borders);
    border-radius: .5rem;
    overflow: hidden;
    display: flex; 
    flex-direction: column;
}

.destination-card img,
.culture-card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.destination-card h3,
.culture-card h3,
.food-item h3{
    margin:0;
    padding:.5rem 0 0 .5rem;
    font-weight: 500;
}

.destination-card p,
.culture-card p,
.food-item p{
    margin:0;
    padding:.5rem;
}

/* Culture and History */
.culture-history-grid {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: .5rem;
    padding: .5rem 0;
}

/* Foods */
.food-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: .5rem;
    padding: .5rem 0;
}

.food-item {
    border: 2px solid var(--borders);
    border-radius: .5rem;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    
    height: 150px;     
}

.food-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.food-item img {
    width: 40%;
    height: 100%;      
    object-fit: cover;  
}


.food-item-text {
    padding: 0 1rem;
}




