/* styles/home.css */
@import url("base.css");
/*=======================Header=======================*/

.main-header {
    padding:.5rem ;
    position:sticky;
    top:0;
    z-index: 100;
    background-color: var(--background);
    left:0;
    right:0;
}

.main-header h1{
    display: flex;
    margin:0;
    align-items: center;
    font-size: 1.25rem;
    color:var(--primary-font-color)
}

.main-header img {
    width: 3.5rem; 
    height: 3.5rem; 
    border-radius: 50%;
}


/*---------------------Nav bar---------------------*/
.main-nav {
    background-color: var(--nav-bar-color);
    display: flex;
    justify-content: space-around;
    padding: .5rem 1rem;
    position:fixed;
    bottom:0;
    left:0;
    right:0;
    width:100%;

}

.nav-link {
    color: var(--secondary-font-color);
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:.5rem;
    font-weight: 400;
    font-style: normal;
}

/* Icons */
.main-nav .nav-link img {
    width: 1.5rem; 
    height: 1.5rem; 
    margin-bottom: .25rem; 
}
/* Active Link Styles */
.nav-link.active {
    background-color: var(--primary-color); 
    border-radius: 10px;  
    color: var(--primary-font-color);
    font-weight:700;
}
.nav-link .icon-active {
    display: none;
}
.nav-link .icon-inactive {
    display: block;
}
.nav-link.active .icon-inactive {
    display: none;
}
.nav-link.active .icon-active {
    display: block;
}

/*=======================MAIN=======================*/

/* Hero Section Styles */
.hero-slider-container {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.hero-slider {
    display: flex;
    width: 400%; 
    transition: transform 1s ease-in-out; 
}

.hero-section {
    width: 100%; 
    height: 200px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: end;
    justify-content: center;
    color: white;
    text-align: center;
    gap:.5rem;
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    background: #FFFFFF;
    background: linear-gradient(280deg, rgba(255, 255, 255, 0) 20%, rgba(25, 30, 59, 0.74) 100%);
    height: 100%;
    width: 100%;
    gap:.5rem;
    padding-bottom: 1rem;
    text-align: left;

}
.hero-content h2, .hero-content p {
    margin: 0 1rem;

}

.hero-content h2 {
    font-size: 2rem;
    font-weight: 700;
}

/*Popular Destinations Section*/
.destinations-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .5rem;
    padding: 1rem 0;
}

.destination-card {
    border:2px solid var(--borders);
    border-radius: .5rem;
    overflow: hidden;
    display: flex; 
    flex-direction: column;
}

.destination-card img {
    width: 100%;
    height: 100px;
    object-fit: cover;
}

.destination-card h3{
    margin:0;
    padding:5px;
    font-weight: 500;
}

.destination-card p{
    margin:0;
    padding:0 5px 5px 5px;
    font-size: .85rem;

}
/*=======================FOOTER=======================*/
.main-footer{
    position:relative;
    overflow: hidden;
    background-size: cover;
}
