/* /styles/info-page.css */

/* Main container for the video hero */
.video-hero-section {
    position: relative;
    height: 45vw;
    width: 100%;

}

/* Positions the video as a background layer */
.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
}

/* Positions the text content as a foreground layer */
.video-hero-content {
    position: relative;
    z-index: 2; /* Higher z-index to ensure it's on top */
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    color: white;
    padding:2rem;
}

.video-hero-content a {
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-bottom: .5rem;
}

.video-hero-content h2 {
    margin: 0;
    padding: 0;
    text-align: left;
}


