/* /styles/info-page.css */
@import url("./base.css");
/* Main container for the video hero */
.video-hero-section {
    position: relative;
    height: 45vw;
    width: 100%;

}

/* Positions the video as a background layer */
.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
}

/* Positions the text content as a foreground layer */
.video-hero-content {
    position: relative;
    z-index: 2; /* Higher z-index to ensure it's on top */
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    color: white;
    padding:2rem;
}

.video-hero-content a {
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-bottom: .5rem;
}

.video-hero-content h2 {
    margin: 0;
    padding: 0;
    text-align: left;
}



.section-title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    padding: 0;
}

.info-card {
    background-color: var(--background);
    border: 1px solid var(--borders);
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}

.info-header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
    padding:.5rem 0
}

.info-header .icon {
    width: 1.5rem;
    height: 1.5rem;
}

.info-header h2{
    padding:0;
}
.info-header h3 {
    margin: 0;
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--primary-font-color);
}

.info-card p {
    margin: 0;
    line-height: 1.5;
}

/* Photo Grid Styles */

.photos-grid {
    display: flex;
    overflow-x: auto; 
    gap: 0.5rem;
    padding-bottom: 1rem; 
}

.photos-grid::-webkit-scrollbar {
    height: 8px; 
}

.photos-grid::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 10px;
}

.photos-grid::-webkit-scrollbar-thumb {
    background: var(--borders);
    border-radius: 10px;
}

.photos-grid::-webkit-scrollbar-thumb:hover {
    background:  var(--primary-color);; 
}

.photo-item {
    flex: 0 0 90%; 
    aspect-ratio: 4 / 3; 
    border-radius: 1rem;
    overflow: hidden;
}

.photo-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section{
    border: none;
}

.back-button{
    padding: 1rem 1.5rem;

    position:fixed;
    top:4.75rem;
    font-size: .75rem;
    font-weight: 500;
    color:var(--primary-font-color);
    border-radius: 5rem;
    background: var(--primary-color);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.603);
}
@media(min-width:50em){
    .back-button{
        top:7rem;
        left:1rem;
        color:var(--primary-font-color);
        padding:2rem;
        /* From https://css.glass */
        background: #fddb32;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.603);
        backdrop-filter: blur(11.2px);
        -webkit-backdrop-filter: blur(11.2px);
    }
}